/* Fonts styles */

// -------- Raleway --------

@font-face
  font-family 'Raleway'
  src url('~@/assets/fonts/Raleway/Raleway-Bold.eot'), url('~@/assets/fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/Raleway/Raleway-Bold.woff') format('woff'), url('~@/assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype')
  font-style normal
  font-weight 600

@font-face
  font-family 'Raleway'
  src url('~@/assets/fonts/Raleway/Raleway-SemiBold.eot'), url('~@/assets/fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/Raleway/Raleway-SemiBold.woff') format('woff'), url('~@/assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype')
  font-style normal
  font-weight 550

@font-face
  font-family 'Raleway'
  src url('~@/assets/fonts/Raleway/Raleway-Medium.eot'), url('~@/assets/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/Raleway/Raleway-Medium.woff') format('woff'), url('~@/assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype')
  font-style normal
  font-weight 500

@font-face
  font-family 'Raleway'
  src url('~@/assets/fonts/Raleway/Raleway-Regular.eot'), url('~@/assets/fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/Raleway/Raleway-Regular.woff') format('woff'), url('~@/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype')
  font-style normal
  font-weight 400
